<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Obrigado!</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div class="result-container" style="text-align: center">
            <h1>Feedback Enviado!</h1>
            <div class="message-box">
                <p>
                    Obrigado pela sua contribuição. Sua resposta foi registrada
                    com sucesso!
                </p>
            </div>
        </div>
        <div class="user-actions">
            <a href="{{ url_for('form')}}" class="action-button">
                Voltar ao início
            </a>
        </div>
    </body>
</html>
