<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Etapa Final: Enviar Relatório - AutSWOT</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <div class="container">
            <h1>Etapa Final: Enviar Relatório</h1>
            <p>
                As suas reflexões foram salvas com sucesso. Para receber o seu
                relatório completo por e-mail, por favor, insira o seu endereço
                abaixo.
            </p>

            <div class="email-final-card">
                <form
                    class="card__form"
                    action="{{ url_for('send_email', feedback_id=feedback_id) }}"
                    method="POST"
                >
                    <input
                        type="email"
                        name="email"
                        placeholder="Seu endereço de e-mail"
                        required
                    />
                    <button type="submit" class="sign-up">
                        Enviar Relatório por E-mail
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
